@import url('vimland.css');
@import url('myriad-pro.css');
h1 {
    font-size: 68px;
    font-family: 'Vimland', sans-serif;
    text-align: center;
}

h3 {
    font-size: 56px;
    font-family: 'Vimland', sans-serif;
    text-align: center;
}

h4 {
    font-size: 32px;
    font-family: 'Vimland', sans-serif;
    text-align: center;
}

body {
    background-color: #12141d;
    color: #fefefe;
}

p {
    font-size: 24px;
    font-family: 'Myriad Pro', sans-serif;
    text-align: center;
}

.logo {
    width: auto;
    height: 100px;
}

.intro {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: 200;
}

.step-section {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.bg-dark {
    background-color: #000 !important;
}

footer {
    margin-top: 124px;
    margin-bottom: 40px;
}
